* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

.wrapper {
  /* width: 1920px; */
}

/* Navigation bar */

.navigation-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 20;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #efefef;
  padding: 1em 0;
}

.logo-section {
  width: 440px;
  height: 100%;
  padding: 1em;
  margin: 0 1em;
  display: flex;
  justify-content: center;
}

.logo-section img {
  width: 100%;
  min-width: 260px;
}

.icon-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-section {
  cursor: pointer;
  border: 2px solid #000000;
  border-radius: 30px;
  position: relative;
  width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}

.search-section input {
  margin: 0 0.5em;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  padding: 0.6em 1.2em;
  border: none;
}

.search-section input:focus {
  outline: none;
}

.search-section button {
  z-index: 20;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 16px;
  height: 100%;
  border-radius: 50%;
  border: none;
  background: none;
}

.login-section {
  padding: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.login-section div {
  margin: 0 0.5em;
}

.nav-bottom {
  display: flex;
  justify-content: center;
  height: 60px;
}

.menu-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  list-style-type: none;
  font-size: 1.1em;
}

.menu-list li {
  padding: 0 1.8em;
  cursor: pointer;
}

/* MainBanner */

.banner-section {
  margin-top: 150px;
}

.banner-slide {
  --swiper-theme-color: #e9e9e9;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Product Show */

.product-section {
  margin-top: 2.2em;
}

.product-card {
  position: relative;
  /* width: 450px; */
  margin-bottom: 2em;
  cursor: pointer;
}

.product-image {
  margin-bottom: 0.4em;
  overflow: hidden;
}

.product-image img {
  /* width: 450px;
  height: 600px; */
  width: 100%;
  object-fit: cover;
  transition: all 0.5s;
}

.product-card:hover img {
  transform: scale(1.2);
}

.product-blight {
  display: inline-block;
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 10;
  padding: 0.1em 0.4em;
  border: 2px solid #000000;
  font-weight: 500;
}

.product-name {
  font-size: 1.2em;
  font-weight: 600;
  margin: 0.2em 0.5em;
}

.product-price {
  font-size: 1.1em;
  margin: 0 0.5em;
}

.product-new {
  margin: 0.2em 0.5em;
  font-weight: 600;
  color: #7cbecb;
}

/* Login Page */

.login-form {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form h3 {
  margin: 1em;
}

.login-form form {
  width: 25%; /* 원하는 넓이로 조정 */
}

.login-form button {
  font-size: 1em;
  padding: 0.8em 0;
  margin: 1em 0;
}

/* product-detail */
.product-detail {
  margin-top: 200px;
}

.product-detail .col {
}

.product-detail .product-image {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.product-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-detail .product-top {
  font-weight: 600;
  color: #7cbecb;
}

.product-detail .product-top div {
  display: inline-block;
  font-size: 0.9em;
  border: 2px solid #7cbecb;
  margin: 0 1em 0.4em 0;
  padding: 0.2em 0.6em;
  border-radius: 50px;
}

.product-detail .product-name {
  font-size: 1.8em;
  font-weight: 600;
  margin: 0.2em 0;
}

.product-detail .product-text {
  color: #acacac;
  font-weight: 500;
  margin: 0.2em 0 0.8em 0;
}

.product-detail .product-price {
  font-size: 1.5em;
  margin: 0.2em 0;
  font-weight: 500;
}

.product-detail .product-color {
  font-size: 1em;
  margin: 1.4em 0;
}

.product-detail .button-area {
  display: flex;
  flex-direction: column;
  margin-top: 1.2em;
  font-size: 1em;
}
.product-detail .button-area button {
  margin: 0.4em 0;
  font-size: 1em;
}
